@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap');

body {
  background-image: url("https://res.cloudinary.com/dbiwj2oo8/image/upload/v1616889248/bedge-grunge_v41sbv.png");
  background-color: #B7D1C9;
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  overflow-x: hidden;
}

#text{
  color: #33241e;
  position: fixed;
  z-index: -999;
  font-size: 26px;
  line-height: 1rem;
  top: 9%;
  left: 4.5%;
}

p{
  font-size: 1rem;
}

#about{
  z-index: -998;
  position: fixed;
  text-align: right;
  float: right;
  bottom: 6%;
  right: 4%;
  color: #33241e;
}

a{
  text-decoration: none;
  font-weight: bold;
  color: #550c18;
}

h1{
  margin: 0;
}

.no{
  position: absolute;
  display: block;
  width: 40%;
  height: 50%;
}

.no img{
    max-width: 100%;
    max-height: 100%;
    cursor: move;
    transition: transform 0.2s ease-out;
    animation: slideIn 1s ;
}

.no img:hover{
  transform: rotate(5deg) scale(1.06);
}

@media only screen and (max-width: 500px){
  h1{
   font-size: 24px;
  }
  p{
   font-size: 15px;
  }
  .no{
     position: absolute;
     display: block;
     width: 80%;
     height: auto;
  }
}

@keyframes slideIn{
  0%{
    transform: rotate(1deg) translateY(-10%);
    opacity: 20%;
  }
  100%{
    transform: none;
    opacity: 100%;
  }
}
